"*":
  "atom-beautify":
    css:
      beautify_on_save: true
      convert_quotes: "single"
    general:
      _analyticsUserId: "36d570b6-1a36-45fd-a08f-ba15e9751cae"
    handlebars:
      beautify_on_save: true
      indent_inner_html: true
    js:
      beautify_on_save: true
      object_curly_spacing: true
    python:
      max_line_length: 80
      sort_imports: true
  "atom-clock": {}
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-python":
    useKite: false
  autosave:
    enabled: true
  "color-picker":
    uppercaseColorValues: true
  core:
    disabledPackages: [
      "webbox-color"
    ]
    telemetryConsent: "limited"
    themes: [
      "city-lights-ui"
      "one-dark-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Consolas"
    fontSize: 12
    invisibles:
      eol: " "
    lineHeight: 1.2
    preferredLineLength: 100
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 8
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "5d622a47-4501-4bd6-b10b-2f221867d76b"
  "git-control": {}
  "linter-ui-default": {}
  pigments:
    markerType: "native-dot"
  "platformio-ide-terminal":
    ansiColors:
      normal:
        yellow: "#ffd600"
    core:
      autoRunCommand: "clear"
      mapTerminalsTo: "Folder"
    style: {}
  "tree-view-git-branch":
    separator: true
  "webbox-color":
    fillColorAsBackground: false
  welcome:
    showOnStartup: false
